.card {
  border-radius: 10px;
  margin-bottom: 3rem;
  padding: 3.5rem;
  background-color: $primary-offwhite;
  //box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .image {
      transform: rotate(2deg);

      &:after {
        opacity: 1;
        animation: scale-spring 1s;
        animation-direction: initial;
      }

    }
  }

  .info {
    max-width: 350px;
  }

  .info-text {
    font-size: 1rem;
    color: #8191A6;
    font-family: 'Lato', sans-serif;
    margin: 0 0 .667rem;
    line-height: 1.2;
  }

  .image {
    transition: all .2s ease-in-out;
    position: relative;
    transform: rotate(0deg);

    img {
      float: right;
      position: relative;
      z-index: 2;
    }

    &:after {
      background: url("/images/line-burst.png") center center;
      background-size: contain;
      content: "";
      display: block;
      width: 184px;
      height: 197px;
      opacity: 0;
      position: absolute;
      top: -3.25rem;
      right: -3.25rem;
      z-index: 1;
      transition: all 1s ease;
    }
  }

  .button {
    font-size: 18px;
    padding: .667rem 2rem;
    border: 1px solid #74A1Fd;
    text-decoration: none;
    color: #74A1Fd;
    border-radius: 10px;
    display: inline-block;
    transition: color,  .3s ease, background-color .3s ease;

    &:hover {
      background-color: #74A1Fd;
      color: $primary-offwhite;
    }
  }
}

.scale-spring {
  animation-name: scale-spring;
  animation-duration: 0.63333s;
  animation-timing-function: linear;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes scale-spring {
  0% {
    transform: scale(0) translateY(50%);
    opacity: 0; }
  2.63158% {
    transform: scale(0.10703) translateY(44.6486%);
    opacity: 0.10703; }
  5.26316% {
    transform: scale(0.24657) translateY(37.67159%);
    opacity: 0.24657; }
  7.89474% {
    transform: scale(0.39958) translateY(30.02083%);
    opacity: 0.39958; }
  10.52632% {
    transform: scale(0.55148) translateY(22.42579%);
    opacity: 0.55148; }
  13.15789% {
    transform: scale(0.6919) translateY(15.40525%);
    opacity: 0.6919; }
  15.78947% {
    transform: scale(0.81419) translateY(9.29048%);
    opacity: 0.81419; }
  18.42105% {
    transform: scale(0.9149) translateY(4.25512%);
    opacity: 0.9149; }
  21.05263% {
    transform: scale(0.99305) translateY(0.3476%);
    opacity: 0.99305; }
  23.68421% {
    transform: scale(1.04954) translateY(-2.47675%);
    opacity: 1.04954; }
  26.31579% {
    transform: scale(1.08652) translateY(-4.32619%);
    opacity: 1.08652; }
  28.94737% {
    transform: scale(1.10694) translateY(-5.34689%);
    opacity: 1.10694; }
  31.57895% {
    transform: scale(1.11404) translateY(-5.70192%);
    opacity: 1.11404; }
  34.21053% {
    transform: scale(1.1111) translateY(-5.555%);
    opacity: 1.1111; }
  36.84211% {
    transform: scale(1.10117) translateY(-5.05874%);
    opacity: 1.10117; }
  39.47368% {
    transform: scale(1.08694) translateY(-4.3471%);
    opacity: 1.08694; }
  42.10526% {
    transform: scale(1.07062) translateY(-3.53122%);
    opacity: 1.07062; }
  44.73684% {
    transform: scale(1.05396) translateY(-2.69807%);
    opacity: 1.05396; }
  47.36842% {
    transform: scale(1.03822) translateY(-1.91118%);
    opacity: 1.03822; }
  50% {
    transform: scale(1.02426) translateY(-1.21284%);
    opacity: 1.02426; }
  52.63158% {
    transform: scale(1.01254) translateY(-0.62708%);
    opacity: 1.01254; }
  55.26316% {
    transform: scale(1.00326) translateY(-0.16322%);
    opacity: 1.00326; }
  57.89474% {
    transform: scale(0.99639) translateY(0.18063%);
    opacity: 0.99639; }
  60.52632% {
    transform: scale(0.99171) translateY(0.41431%);
    opacity: 0.99171; }
  63.15789% {
    transform: scale(0.98895) translateY(0.55258%);
    opacity: 0.98895; }
  65.78947% {
    transform: scale(0.98774) translateY(0.61277%);
    opacity: 0.98774; }
  68.42105% {
    transform: scale(0.98774) translateY(0.61277%);
    opacity: 0.98774; }
  71.05263% {
    transform: scale(0.98861) translateY(0.56964%);
    opacity: 0.98861; }
  73.68421% {
    transform: scale(0.99003) translateY(0.49864%);
    opacity: 0.99003; }
  76.31579% {
    transform: scale(0.99175) translateY(0.41267%);
    opacity: 0.99175; }
  78.94737% {
    transform: scale(0.99356) translateY(0.32202%);
    opacity: 0.99356; }
  81.57895% {
    transform: scale(0.99531) translateY(0.23441%);
    opacity: 0.99531; }
  84.21053% {
    transform: scale(0.9969) translateY(0.15513%);
    opacity: 0.9969; }
  86.84211% {
    transform: scale(0.99825) translateY(0.08741%);
    opacity: 0.99825; }
  89.47368% {
    transform: scale(0.99935) translateY(0.03273%);
    opacity: 0.99935; }
  92.10526% {
    transform: scale(1.00018) translateY(-0.00876%);
    opacity: 1.00018; }
  94.73684% {
    transform: scale(1.00076) translateY(-0.03787%);
    opacity: 1.00076; }
  97.36842% {
    transform: scale(1.00112) translateY(-0.05606%);
    opacity: 1.00112; }
  100% {
    transform: scale(1) translateY(0%);
    opacity: 1; }
}

