.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: $primary-blue;
  padding: 1rem;
  color: $primary-offwhite;

  ul {
    text-align: right;
    line-height: 1.5;

    li {
      display: inline-block;
      line-height: 1.5;
      margin: 0 1rem 0 0;
    }
  }

  a {
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin: 0;

    &:visited {
      color: inherit;
    }
  }
}
