body, html {
  color: $primary-text;
  font-family: 'Lato', sans-serif;
  background-color: $primary-offwhite;
  font-size: 24px;

  @media(max-width: 480px) {
    font-size: 16px;
  }
}

p, a {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

ol,
ul {
  list-style: initial;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

p + ol, p + ul {
  margin-top: -1.25rem;
}

p + h3, p + h2 {
  margin-top: 4rem;
}

.text-lato {
  font-family: 'Lato', sans-serif;
}
.text-playfair {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  padding: 0;
  margin: 0 0 .667rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: .75rem;
}
