$button-color: $primary-blue;

.button {
  font-size: .8rem;
  padding: .667rem 1rem;
  border: 1px solid transparent;
  background-color: $button-color;
  text-decoration: none;
  color: $primary-offwhite;
  border-radius: 5px;
  display: inline-block;
  transition: color, .3s ease, background-color .3s ease;

  &:hover {
    background-color: $primary-offwhite;
    color: $button-color;
    border: 1px solid $button-color;
  }
}

figcaption {
  font-size: 12px;
  color: $light-gray;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

img.rounded {
  border-radius: 20px;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
