<header class="primary-header primary-background ">
	<div class="bg"></div>
	<section class="intro">
		<div class="container mx-auto">
			<div class="intro-text text-center fade-in-down">
				<h1>{{$.Site.Data.intro.title}}</h1>
				<h3>{{$.Site.Data.intro.subtitle}}</h3>
				<h4>{{$.Site.Data.intro.meta}}</h4>
			</div>
		</div>
	</section>
</header>

<script>
	const bg = document.querySelector('.primary-background .bg');
	const { pageYOffset: scrolled } = window;
	bg.style = `
			transform: translateY(0);
		`
	const body = document.body,
		html = document.documentElement;

	const height = Math.max(
		body.scrollHeight,
		body.offsetHeight,
		html.clientHeight,
		html.scrollHeight,
		html.offsetHeight
	);
	console.log(height)
	window.addEventListener('scroll', () => {
		const { pageYOffset: scrolled } = window;
		const opacity = .5 - ((scrolled / height) );
		bg.style = `
			transform: translateY(${scrolled * 1.05 >> 0}px);
			opacity: ${opacity}
		`
	})
</script>
