.intro {
	color: var(--main-white);
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;

	h1,
	h2,
	h3,
	h4 {
		color: $primary-offwhite;
	}

	h2,
	h3,
	h4 {
		font-family: "Lato", sans-serif;
	}

	h1 {
		font-size: 4rem;
	}
}
