$button-color: $primary-blue;

.button {
	font-size: 0.8rem;
	padding: 0.667rem 1rem;
	border: 1px solid transparent;
	background-color: $button-color;
	text-decoration: none;
	color: $primary-offwhite;
	border-radius: 5px;
	transition: color, 0.3s ease, background-color 0.3s ease;

	&:hover {
		background-color: $primary-offwhite;
		color: $button-color;
		border: 1px solid $button-color;
	}
}

.portfolio-image {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

figcaption,
.caption {
	font-size: 12px;
	color: $light-gray;
	font-family: "Lato", sans-serif;
	text-align: center;
}

img.rounded {
	border-radius: 20px;
}

.container {
	padding-left: 2rem;
	padding-right: 2rem;
}

.colorswatch {
	border-radius: 6px;
	padding-top: 8rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	.content {
		padding: 12px;
		border-radius: 0 0 6px 6px;
		background-color: white;
		text-align: center;
	}

	.label {
		color: black;
	}

	.color {
		color: #666;
		text-transform: uppercase;
	}
}
